
@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";

$primary: #5265E1;
$secondary: #FA5959;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary
);

.img-Hero{

  position: relative;
  height: 400px;
  z-index: 10;
}

.fondo{
  position: absolute;
  border-radius: 150px;
  top: 180px;
  left: 900px;
  background: hsl(232, 70%, 60%);
  width: 600px;
  height: 300px;
  z-index:5;

}
@media only screen and (max-width: 600px) {
  .img-Hero{
    width: 100%;
    height: 80%;
    }

  .fondo{
    position: absolute;
    border-radius: 150px;
    top: 160px;
    left: 100px;
    background: hsl(232, 70%, 60%);
    width: 600px;
    height: 250px;
    z-index:5;
  }
}

body{
  overflow-x: hidden;
}

@import "./node_modules/bootstrap/scss/bootstrap.scss";

